release/author.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Рука кремля</title>
  </head>
  <body><!-- Preloader Start -->
<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
<div class="preloader-inner position-relative">
<div class="text-center">
<h6>Загрузка</h6>
<div class="loader">
<div class="bar bar1"></div>
<div class="bar bar2"></div>
<div class="bar bar3"></div>
</div>
</div>
</div>
</div>
</div>
    <div class="main-wrap">
      <aside class="custom-scrollbar offcanvas-sidebar position-right" id="sidebar-wrapper">
        <button class="off-canvas-close"><span class="icon-cross"></span></button><div class="sidebar-inner">
<!--lastest post-->
<div class="sidebar-widget mb-50">
<div class="widget-header mb-30">
<span class="widget-title">Топ <span>Новостей</span></span>
</div>
<div class="post-aside-style-2">
<ul class="list-post"><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li></ul>
</div>
</div>
</div>
      </aside><header class="main-header header-style-2 bggray mb-40">
<div class="header-bottom header-sticky text-center">
<div class="scroll-progress gradient-bg-1"></div>
<div class="mobile_menu d-lg-none d-block"></div>
<div class="container">
<div class="row">
<div class="col-4 col-lg-2 col-md-3">
<div class="header-logo">
<a href="#">
      <picture>
        <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img">
      </picture></a>
</div>
</div>
<div class="col-8 col-lg-10 col-md-9 main-header-navigation d-flex">
<div class="main-nav text-left float-lg-left float-md-right">
<ul class="mobi-menu d-none menu-3-columns" id="navigation">
<li class="cat-item cat-item-2"><a href="#">Главная</a></li>
<li class="cat-item cat-item-3"><a href="#">Разделы</a></li>
<li class="cat-item cat-item-4"><a href="#">О нас</a></li>
<li class="cat-item cat-item-5"><a href="#">Сотрудничество</a></li>
<li class="cat-item cat-item-6"><a href="#">Контакты</a></li>
</ul>
<nav>
<ul class="main-menu d-none d-lg-inline">
<li class="menu-item-has-children active">
<a href="#">Главная</a>
</li>
<li class="mega-menu-item">
<a href="#">
<span class="mr-15">
<ion-icon name="desktop-outline"></ion-icon>
</span>Разделы</a>
<div class="sub-mega-menu sub-menu-list row font-small"><ul class="col-md-2">
<li><strong>Разделы</strong></li>
<li class="active"><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
</ul><ul class="col-md-2">
<li><strong>Разделы</strong></li>
<li class="active"><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
</ul><ul class="col-md-2">
<li><strong>Разделы</strong></li>
<li class="active"><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
</ul><div class="col-md-6 text-right">
<a href="#"><img class="border-radius-10 lazyload" data-src="images/ads-2.jpg" alt=""></a>
</div>
</div>
</li>
<li>
<a href="#">
<span class="mr-15">
<ion-icon name="megaphone-outline"></ion-icon>
</span>О нас</a>
</li>
<li>
<a href="#">
<span class="mr-15">
<ion-icon name="film-outline"></ion-icon>
</span>Сотрудничество</a>
</li>
<li>
<a href="#">
<span class="mr-15">
<ion-icon name="mail-unread-outline"></ion-icon>
</span>Контакты</a>
</li>
</ul>
</nav>
</div>
<div class="user-log d-flex align-items-center"><a class="d-none d-xl-inline" href="#">регистрация</a><span class="d-none d-xl-inline color-white">/</span><a class="d-none d-xl-inline" href="#">войти</a><a class="position-relative ml-2" href="#"><span class="icon-user"></span>
<span class="notification">5</span></a></div>
<form action="" method="" class="search-form d-lg-flex align-items-center float-right d-none">
      <div class="position-relative line-height-0"><input type="text" class="search_field" placeholder="Поиск">
        <button type="submit"><span class="icon-loupe"></span></button>
      </div></form>
<div class="off-canvas-toggle-cover d-none d-lg-block">
<div class="off-canvas-toggle hidden d-inline-block ml-15" id="off-canvas-toggle"><span></span><span></span><span></span><span></span></div>
</div>
</div>
</div>
</div>
</div>
</header>
      <main class="position-relative mb-80">
        <div class="container author-page">
          <div class="row pb-30 mb-70 justify-content-center">
            <div class="col-12 col-lg-8 author-page__border">
              <h1 class="font-size-36  mb-30 font-size-m-24 text-center"><b>Колонка автора</b></h1>
              <div><img class="lazyload mx-auto d-block img-fluid mb-15" data-src="images/mIfqm9yG5Go 1.png" alt="img">
                <h2 class="font-size-24 text-center"><b>Олег Адольфович</b></h2><span class="author-page__state text-center d-block font-size-18 mb-28">Главный редактор</span>
                <p class="font-size-16 text-center mb-60">Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.</p>
              </div>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
            <div class="col-12 col-lg-4 mb-30">
<div class="post-thumb post-thumb__post position-relative">
<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
<a class="img-link" href="#"></a>
<div class="post-content-overlay">
<div class="entry-meta meta-0 mb-10">
<a href="#">
<span class="post-cat category-2 color-white font-size-12">шоу</span>
</a>
</div>
<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
<div class="d-flex align-items-center">
<span class="entry-meta-stat color-white d-flex align-items-center">
<span class="mr-10">
<i class="icon-view" ></i>
</span>1800</span>
<span class="ml-30 entry-meta-stat d-flex align-items-center">
<span class="mr-10">
<i class="icon-chat"></i>
</span>250</span>
</div>
</div>
</div>
</div>
</div>
          </div>
          <div class="row">
            <div class="col-12"><div class="pagination-area mb-30">
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-start">
<li class="page-item">
<a class="page-link" href="#">
<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13 2L3 12L13 22" stroke="black" stroke-width="4" stroke-linecap="round"/>
</svg>
</a>
</li>
<li class="page-item active"><a class="page-link" href="#">01</a></li>
<li class="page-item"><a class="page-link" href="#">02</a></li>
<li class="page-item"><a class="page-link" href="#">03</a></li>
<li class="page-item"><a class="page-link" href="#">04</a></li>
<li class="page-item">
<a class="page-link" href="#">
<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2 22L12 12L2 2" stroke="black" stroke-width="4" stroke-linecap="round"/>
</svg>
</a>
</li>
</ul>
</nav>
</div>
            </div>
          </div>
        </div>
      </main><footer class="footer-area">
      <div class="container">
        <div class="row footer-area__top">
          <div class="col-12 col-lg-3">
            <div class="header-logo pb-24"><a href="#">
                <picture>
                  <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img">
                </picture></a></div>
            <p>Новостной портал новостного агентства “Рука Кремля”. Свидетельство о регистрации СМИ номер 516516516516</p>
            <p>Перепечатка материала возможна только с указанием на первоисточник.</p>
          </div>
          <div class="col-3 d-none d-lg-block"><span class="footer__title pb-30">Информация</span>
            <ul class="ml-20">
              <li><a class="footer__link" href="#">О издательстве</a></li>
              <li><a class="footer__link" href="#">Перепечатка материала</a></li>
              <li><a class="footer__link" href="#">Правила сайта</a></li>
              <li><a class="footer__link" href="#">Политика конфиденциальности</a></li>
            </ul>
          </div>
          <div class="col-3 d-none d-lg-block"><span class="footer__title pb-30">Разделы новостей</span>
            <ul class="ml-20">
              <li><a class="footer__link" href="#">Политика</a></li>
              <li><a class="footer__link" href="#">Технологии</a></li>
              <li><a class="footer__link" href="#">Экономика</a></li>
              <li><a class="footer__link" href="#">Финансы</a></li>
            </ul>
          </div>
          <div class="col-3 d-none d-lg-block"><span class="footer__title pb-18">Контакты</span><a class="callblock mb-32" href="tel:+71234567890"><span class="icon-phone-call"></span><span>+7 123 456-78-90</span></a><a class="callblock" href="tel:+71234567890"><span class="icon-email-send"></span><span>+7 123 456-78-90</span></a></div>
        </div>
        <div class="row footer-area__bottom">
          <div class="col-12 d-flex justify-content-end">
            <div class="footer-copy-right"><a href="https://deksis.ru/">поддержка сайта<b> DEKSIS.RU</b></a></div>
          </div>
        </div>
      </div></footer>
    </div><div class="dark-mark"></div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/author.pug
extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		div(class="container author-page")
			div(class="row pb-30 mb-70 justify-content-center")
				div(class="col-12 col-lg-8 author-page__border")
					h1(class="font-size-36  mb-30 font-size-m-24 text-center")
						b
							| Колонка автора
					div()
						img(class="lazyload mx-auto d-block img-fluid mb-15" data-src="images/mIfqm9yG5Go 1.png" alt="img")
						h2(class="font-size-24 text-center")
							b
								| Олег Адольфович
						span(class="author-page__state text-center d-block font-size-18 mb-28")
							| Главный редактор
						p(class="font-size-16 text-center mb-60")
							| Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Равным образом постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
			div(class="row mb-20")
				-for(let i = 0; i < 9; i++)
					<div class="col-12 col-lg-4 mb-30">
						<div class="post-thumb post-thumb__post position-relative">
							<div class="thumb-overlay img-hover-slide border-radius-15 position-relative" style="background-image: url(images/thumbnail-7.jpg)">
								<a class="img-link" href="#"></a>
								<div class="post-content-overlay">
									<div class="entry-meta meta-0 mb-10">
										<a href="#">
											<span class="post-cat category-2 color-white font-size-12">шоу</span>
										</a>
									</div>
									<span class="post-title color-white font-size-24 mb-40 d-block"><b>“Танцы разнообразия”</b></span>
									<div class="d-flex align-items-center">
										<span class="entry-meta-stat color-white d-flex align-items-center">
											<span class="mr-10">
												<i class="icon-view" ></i>
											</span>
											| 1800
										</span>
										<span class="ml-30 entry-meta-stat d-flex align-items-center">
											<span class="mr-10">
												<i class="icon-chat"></i>
											</span>
											| 250
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
			div(class="row")
				div(class="col-12")
					<div class="pagination-area mb-30">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-start">
								<li class="page-item">
									<a class="page-link" href="#">
										<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M13 2L3 12L13 22" stroke="black" stroke-width="4" stroke-linecap="round"/>
										</svg>
									</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">01</a></li>
								<li class="page-item"><a class="page-link" href="#">02</a></li>
								<li class="page-item"><a class="page-link" href="#">03</a></li>
								<li class="page-item"><a class="page-link" href="#">04</a></li>
								<li class="page-item">
									<a class="page-link" href="#">
										<svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M2 22L12 12L2 2" stroke="black" stroke-width="4" stroke-linecap="round"/>
										</svg>
									</a>
								</li>
							</ul>
						</nav>
					</div>
