release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Рука кремля</title>
  </head>
  <body><!-- Preloader Start -->
<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
<div class="preloader-inner position-relative">
<div class="text-center">
<h6>Загрузка</h6>
<div class="loader">
<div class="bar bar1"></div>
<div class="bar bar2"></div>
<div class="bar bar3"></div>
</div>
</div>
</div>
</div>
</div>
    <div class="main-wrap">
      <aside class="custom-scrollbar offcanvas-sidebar position-right" id="sidebar-wrapper">
        <button class="off-canvas-close"><span class="icon-cross"></span></button><div class="sidebar-inner">
<!--lastest post-->
<div class="sidebar-widget mb-50">
<div class="widget-header mb-30">
<span class="widget-title">Топ <span>Новостей</span></span>
</div>
<div class="post-aside-style-2">
<ul class="list-post"><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li><li class="mb-30 wow fadeIn animated">
<div class="d-flex">
<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
<a class="color-white" href="single.html">
<img class="lazyload" data-src="images/thumbnail-2.jpg" alt="">
</a>
</div>
<div class="post-content media-body">
<div class="post-title mb-10 text-limit-2-row"><a href="single.html">США в агонии</a></div>
</div>
</div>
</li></ul>
</div>
</div>
</div>
      </aside><header class="main-header header-style-2 bggray mb-40">
<div class="header-bottom header-sticky text-center">
<div class="scroll-progress gradient-bg-1"></div>
<div class="mobile_menu d-lg-none d-block"></div>
<div class="container">
<div class="row">
<div class="col-4 col-lg-2 col-md-3">
<div class="header-logo">
<a href="#">
      <picture>
        <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img">
      </picture></a>
</div>
</div>
<div class="col-8 col-lg-10 col-md-9 main-header-navigation d-flex">
<div class="main-nav text-left float-lg-left float-md-right">
<ul class="mobi-menu d-none menu-3-columns" id="navigation">
<li class="cat-item cat-item-2"><a href="#">Главная</a></li>
<li class="cat-item cat-item-3"><a href="#">Разделы</a></li>
<li class="cat-item cat-item-4"><a href="#">О нас</a></li>
<li class="cat-item cat-item-5"><a href="#">Сотрудничество</a></li>
<li class="cat-item cat-item-6"><a href="#">Контакты</a></li>
</ul>
<nav>
<ul class="main-menu d-none d-lg-inline">
<li class="menu-item-has-children active">
<a href="#">Главная</a>
</li>
<li class="mega-menu-item">
<a href="#">
<span class="mr-15">
<ion-icon name="desktop-outline"></ion-icon>
</span>Разделы</a>
<div class="sub-mega-menu sub-menu-list row font-small"><ul class="col-md-2">
<li><strong>Разделы</strong></li>
<li class="active"><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
</ul><ul class="col-md-2">
<li><strong>Разделы</strong></li>
<li class="active"><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
</ul><ul class="col-md-2">
<li><strong>Разделы</strong></li>
<li class="active"><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
<li><a href="#">Элемент раздела</a></li>
</ul><div class="col-md-6 text-right">
<a href="#"><img class="border-radius-10 lazyload" data-src="images/ads-2.jpg" alt=""></a>
</div>
</div>
</li>
<li>
<a href="#">
<span class="mr-15">
<ion-icon name="megaphone-outline"></ion-icon>
</span>О нас</a>
</li>
<li>
<a href="#">
<span class="mr-15">
<ion-icon name="film-outline"></ion-icon>
</span>Сотрудничество</a>
</li>
<li>
<a href="#">
<span class="mr-15">
<ion-icon name="mail-unread-outline"></ion-icon>
</span>Контакты</a>
</li>
</ul>
</nav>
</div>
<div class="user-log d-flex align-items-center"><a class="d-none d-xl-inline" href="#">регистрация</a><span class="d-none d-xl-inline color-white">/</span><a class="d-none d-xl-inline" href="#">войти</a><a class="position-relative ml-2" href="#"><span class="icon-user"></span>
<span class="notification">5</span></a></div>
<form action="" method="" class="search-form d-lg-flex align-items-center float-right d-none">
      <div class="position-relative line-height-0"><input type="text" class="search_field" placeholder="Поиск">
        <button type="submit"><span class="icon-loupe"></span></button>
      </div></form>
<div class="off-canvas-toggle-cover d-none d-lg-block">
<div class="off-canvas-toggle hidden d-inline-block ml-15" id="off-canvas-toggle"><span></span><span></span><span></span><span></span></div>
</div>
</div>
</div>
</div>
</div>
</header>
      <main class="position-relative mb-80">
        <div class="container">
          <div class="row pb-30 mb-70 justify-content-center">
            <div class="col-12 col-lg-8">
              <h1 class="font-size-36  mb-30 font-size-m-24 text-center"><b>Контакты</b></h1><div class="single-excerpt">
              <p class="font-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><hr class="wp-block-separator is-style-wide">
<p>
<strong>Адрес</strong>: Челябинск, ул. Ломоносова, кв. 84, офис 103
</p>
<p>
<strong>Телефон</strong>:<a href="tel:+71234567890">+7 123 456-78-90</a></p>
<p>
<strong>Почта</strong>: <a href="mailto:info@mail.ru">info@mail.ru</a></p>
<hr class="wp-block-separator is-style-wide">
</div>
<div class="entry-main-content mt-50">
<h2>Напишите нам</h2>
              <p class="font-size-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><form class="form-contact comment_form" action="#" method="" id="commentForm">
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<input class="form-control" name="name" id="name" type="text" placeholder="Имя">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<input class="form-control" name="email" id="email" type="email" placeholder="Email">
</div>
</div>
<div class="col-12">
<div class="form-group">
<input class="form-control" name="website" id="website" type="text" placeholder="Телефон">
</div>
</div>
<div class="col-12">
<div class="form-group">
<textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Сообщение"></textarea>
</div>
</div>
</div>
<div class="form-group">
<button type="submit" class="btn btn__comment">Отправить</button>
</div>
</form>
</div>
            </div>
          </div>
        </div>
      </main><footer class="footer-area">
      <div class="container">
        <div class="row footer-area__top">
          <div class="col-12 col-lg-3">
            <div class="header-logo pb-24"><a href="#">
                <picture>
                  <source srcset="images/logo-mobile.png" media="(max-width: 991px)"><img class="lazyload img-fluid" data-src="images/logo.png" alt="img">
                </picture></a></div>
            <p>Новостной портал новостного агентства “Рука Кремля”. Свидетельство о регистрации СМИ номер 516516516516</p>
            <p>Перепечатка материала возможна только с указанием на первоисточник.</p>
          </div>
          <div class="col-3 d-none d-lg-block"><span class="footer__title pb-30">Информация</span>
            <ul class="ml-20">
              <li><a class="footer__link" href="#">О издательстве</a></li>
              <li><a class="footer__link" href="#">Перепечатка материала</a></li>
              <li><a class="footer__link" href="#">Правила сайта</a></li>
              <li><a class="footer__link" href="#">Политика конфиденциальности</a></li>
            </ul>
          </div>
          <div class="col-3 d-none d-lg-block"><span class="footer__title pb-30">Разделы новостей</span>
            <ul class="ml-20">
              <li><a class="footer__link" href="#">Политика</a></li>
              <li><a class="footer__link" href="#">Технологии</a></li>
              <li><a class="footer__link" href="#">Экономика</a></li>
              <li><a class="footer__link" href="#">Финансы</a></li>
            </ul>
          </div>
          <div class="col-3 d-none d-lg-block"><span class="footer__title pb-18">Контакты</span><a class="callblock mb-32" href="tel:+71234567890"><span class="icon-phone-call"></span><span>+7 123 456-78-90</span></a><a class="callblock" href="tel:+71234567890"><span class="icon-email-send"></span><span>+7 123 456-78-90</span></a></div>
        </div>
        <div class="row footer-area__bottom">
          <div class="col-12 d-flex justify-content-end">
            <div class="footer-copy-right"><a href="https://deksis.ru/">поддержка сайта<b> DEKSIS.RU</b></a></div>
          </div>
        </div>
      </div></footer>
    </div><div class="dark-mark"></div>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/contacts.pug
extends base.pug
block content
	include components/sidebar-area.pug
	include components/header-area.pug
	main(class="position-relative mb-80")
		div(class="container")
			div(class="row pb-30 mb-70 justify-content-center")
				div(class="col-12 col-lg-8")
					h1(class="font-size-36  mb-30 font-size-m-24 text-center")
						b
							| Контакты
					<div class="single-excerpt">
						p(class="font-size-18")
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<hr class="wp-block-separator is-style-wide">
						<p>
							<strong>Адрес</strong>: Челябинск, ул. Ломоносова, кв. 84, офис 103
						</p>
						<p>
						<strong>Телефон</strong>:
							a(href="tel:+71234567890")
								| +7 123 456-78-90
						</p>
						<p>
							<strong>Почта</strong>: 
							a(href="mailto:info@mail.ru")
								| info@mail.ru
						</p>
						<hr class="wp-block-separator is-style-wide">
					</div>
					<div class="entry-main-content mt-50">
						<h2>Напишите нам</h2>
						
						p(class="font-size-18")
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						<form class="form-contact comment_form" action="#" method="" id="commentForm">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input class="form-control" name="name" id="name" type="text" placeholder="Имя">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input class="form-control" name="email" id="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<input class="form-control" name="website" id="website" type="text" placeholder="Телефон">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Сообщение"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn__comment">Отправить</button>
							</div>
						</form>
					</div>
